SOAP service/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- root element -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- WSDL data types -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PnJRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="crunchy" type="s:boolrean"/>
            <s:element minOccurs="1" maxOccurs="1" name="jellytype" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="sandwich" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PnJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>

  <wsdl:message name="PnJSoapIn">
    <wsdl:part name="parameters" element="tns:PnJRequest "/>
  </wsdl:message>
  <wsdl:message name="PnJSoapOut">
    <wsdl:part name="parameters" element="tns:PnJResponse"/>
  </wsdl:message>

  <wsdl:portType name="PnJSoapPort">

    <wsdl:operation name="PnJMaker">
      <wsdl:input message="tns:PnJSoapIn"/>
      <wsdl:output message="tns:PnJSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="PnJServiceSoapBinding" type="tns:PnJSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PnJMaker">
      <soap:operation soapAction="PnJMaker" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PnJServiceSoap12Binding" type="tns:PnJSoapPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PnJMaker">
      <soap12:operation soapAction="PnJMaker" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="PnJService">
    <wsdl:port name="PnJServiceSoapPort" binding="tns:PnJServiceSoapBinding">
      <soap:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
    <wsdl:port name="PnJServiceSoap12Port" binding="tns:PnJServiceSoap12Binding">
      <soap12:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>